
html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 0;
}

h1 {
    margin-bottom: 0;
    font-size: 2rem;
}

p {
    margin-bottom: 48px;
}

a {
    text-decoration: none;
    color: inherit;
  }
  
  .cta {
    position: relative;
    padding: 16px 24px;
    transition: all 0.2s ease;
  }
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: #FEEFED;
    background-size: cover;
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
  }
  .cta span {
    position: relative;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
  }
  .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  .cta:hover:before {
    width: 100%;
    background: FEEFED;
  }
  .cta:hover svg {
    transform: translateX(0);
  }
  .cta:active {
    transform: scale(0.96);
  }
  

.container {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 8px;
    margin-left: 8px;
    margin-right: 8px;
    justify-items: stretch;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F7F9FA;
    padding: 128px 0;
    margin-top: 80px;
}

/* -- Hero -- */

.hero-left {
    grid-column: span 12;
    margin-top: 10%;
    display: inline-block;
    position: relative;
  }

  .hero-left::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 120%;    
    top: 4rem;
    left: -5px;
    background: #FEEFED;
    z-index: -1;
}

.hero-right {
    grid-column: span 12;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.hero-right div {
    width: 100%;
}

.hero-bar-row {
    display: flex;
}

.hero-bar {
    height: 3.5rem;
    border-radius: 100px;
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    z-index: 0;
}

.green-bar {
    background-color: #8DD7CF;
    width: fit-content;
    padding-right: 32px;
    padding-left: 96px;
    margin-top: 0;
    margin-bottom: 3.5rem;
    overflow: hidden;

}

.orange-bar {
    background-color: #F3C19D;
    width: 300px;
    flex-grow: 1;
    position: relative;
    right: 50px;
}

.filler-orange {
    flex-grow: 5;
}

.blue-bar {
    background-color: #96C3EC;
    width: 250px;
    flex-grow: 1;
    position: relative;
    right: 150px;
}

.filler-blue {
    flex-grow: 5;
}

#static-title {
    position: relative;
    z-index: 5;
}

/* -- Animation -- */

#flip {
    height:3.5rem;
    margin-bottom: 8px;
    overflow:hidden;
    position: relative;
    right: 96px;
  }
  
  #flip div:first-child {
    animation: show 5s linear infinite;
  }
  
  @keyframes show {
    0% {margin-top:-21rem;}
    5% {margin-top:-14rem;}
    33% {margin-top:-14rem;}
    38% {margin-top:-7rem;}
    66% {margin-top:-7rem;}
    71% {margin-top:0;}
    99.99% {margin-top:0;}
    100% {margin-top:-21rem;}
  }
  

/* -- Body -- */

.separator {
    grid-column: span 12;
    height: 80px;
}

.text-block {
    grid-column: span 12;
    margin: 48px 0;
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 18px;
    }

    h1 {
        font-size: 2.5rem;
    }

    .container {
        margin: 0 auto;
        column-gap: 16px;
    }

    .hero-left, .hero-right {
        grid-column: span 6;
    }

    .hero-right div {
        width: 66%;
    }

    .separator {
        height: 256px;
    }

    .text-block {
        grid-column: span 4;
        padding-right: 8px;
        padding-left: 8px;
    }

}

